body {
    font-family: Arial, sans-serif;
}

.successHint {
    background-color: darkgreen;
    color: whitesmoke;
    font-weight: bold;
}

.failureHint {
    background-color: red;
    color: whitesmoke;
    font-weight: bold;
}