body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: var(--config-alerting-bg-color-body);
    color: var(--config-alerting-text-color-body)
}

.successHint {
    background-color: var(--config-alerting-bg-color-success);
    color: var(--config-alerting-text-color-success);
    font-weight: bold;
}

.failureHint {
    background-color: var(--config-alerting-bg-color-failure);
    color: var(--config-alerting-text-color-failure);
    font-weight: bold;
}

td {
    padding: 4px;
    vertical-align: middle;
}

input[type="checkbox"] {
    transform: scale(1.2);
}

.successHint, .failureHint {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

td {
    padding: 4px;
    vertical-align: middle;
}

.hintText {
    font-size: 14px;
}

.btnSaveConfigAlerting {
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    background-color: var(--config-alerting-bg-color-btn);
    color: var(--config-alerting-text-color-btn);
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

/* Sound Tabelle */

.scrollable-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid var(--config-alerting-border-color-tableScroll);
    margin-bottom: 20px;
    width: 496px;  /* Container-Breite anpassen */

    -ms-overflow-style: none;  /* Für IE und Edge */
    scrollbar-width: none;     /* Für Firefox */
}

.scrollable-container::-webkit-scrollbar {
    display: none;             /* Für Chrome, Safari, Opera */
}

table.backupTable {
    border-collapse: collapse;
    width: 30%;
}
table.backupTable th, table.backupTable td {
    border: 1px solid var(--config-alerting-border-color-table);
    padding: 8px;
}
table.backupTable tr:nth-child(even) {background-color: var(--config-alerting-bg-color-tableChild);}
table.backupTable tr:hover {background-color: var(--config-alerting-bg-color-tableTrHover);}
table.backupTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--config-alerting-bg-color-table);
    color: var(--config-alerting-text-color-table);
}

.imageDownload {
    width: 25px;
}

.imageDelete {
    width: 25px;
    cursor: pointer;
}

.btnUploadSoundFile {
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    background-color: var(--config-alerting-bg-color-btn);
    color: var(--config-alerting-text-color-btn);
    cursor: pointer;
    border-radius: 5px;
}

/* end sound table */

.deleteNotifyItem {
    cursor: pointer;
}

.notifyNewRow {
    display: none;
}

@media (max-width: 600px) {

    .lineBreak {
        display: block;
    }

    .hintText {
        font-size: 12px;
    }

    .successHint, .failureHint {
        display: block;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
    }

    table {
        font-size: 14px;
    }

    td:first-child {
        width: 30%; /* Lässt genug Platz für den Text */
    }

    td:nth-child(2) {
        /*width: 40%; !* Fixe Breite für Eingabefelder *!*/
        width: 60%; /* Fixe Breite für Eingabefelder */
    }

    td:nth-child(3) {
        width: 10%; /* Checkbox bleibt sichtbar */
    }

    input[type="text"] {
        /*max-width: 150px; !* Oder andere passende Breite *!*/
        /*max-width: 180px; !* Oder andere passende Breite *!*/
    }

    input[type="text"], input[type="checkbox"] {
        /*width: 100%;*/
    }

    input[type="button"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    h2 {
        font-size: medium;
    }

    input[type="button"] {
        display: inline-block;
        background-color: var(--config-alerting-bg-color-btn);
        color: var(--config-alerting-text-color-btn);
        /*padding: 5px 10px;*/
        border-radius: 5px;
        cursor: pointer;
    }

    .ui-dialog {
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    .ui-dialog .ui-dialog-content {
        overflow-x: auto;
    }


    /* File Upload */
    .imageDownload, .imageDelete{
        width: 15px;
        margin: 0 5px; /* Links & Rechts 5px Abstand */
    }

    input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
    }

    input[type="file"]::before {
        content: "Datei auswählen";
        font-size: 14px;
        display: inline-block;
        background-color: var(--config-alerting-bg-color-btn);
        color: var(--config-alerting-text-color-btn);
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    table.backupTable {
        font-size: smaller;
    }

    table.backupTable th,
    table.backupTable td{
        padding: 2px;
    }

    .btnUploadSoundFile {
        width: auto !important;
        font-size: 14px !important;
        padding: 5px 10px !important;
    }
}