body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.successHint {
    background-color: darkgreen;
    color: whitesmoke;
    font-weight: bold;
}

.failureHint {
    background-color: crimson;
    color: whitesmoke;
    font-weight: bold;
}

td {
    padding: 4px;
    vertical-align: middle;
}

input[type="checkbox"] {
    transform: scale(1.2);
}

.successHint, .failureHint {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

td {
    padding: 4px;
    vertical-align: middle;
}

.hintText {
    font-size: 14px;
}

.btnSaveConfigAlerting {
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

@media (max-width: 600px) {

    .lineBreak {
        display: block;
    }

    .hintText {
        font-size: 12px;
    }

    .successHint, .failureHint {
        display: block;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
    }

    table {
        font-size: 14px;
    }

    td:first-child {
        width: 30%; /* Lässt genug Platz für den Text */
    }

    td:nth-child(2) {
        /*width: 40%; !* Fixe Breite für Eingabefelder *!*/
        width: 60%; /* Fixe Breite für Eingabefelder */
    }

    td:nth-child(3) {
        width: 10%; /* Checkbox bleibt sichtbar */
    }

    input[type="text"] {
        /*max-width: 150px; !* Oder andere passende Breite *!*/
        max-width: 180px; /* Oder andere passende Breite */
    }

    input[type="text"], input[type="checkbox"] {
        width: 100%;
    }

    input[type="button"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    h2 {
        font-size: medium;
    }

    input[type="button"] {
        display: inline-block;
        background: #007bff;
        color: white;
        /*padding: 5px 10px;*/
        border-radius: 5px;
        cursor: pointer;
    }
}