body {
    font-family: Arial, Helvetica, sans-serif;
}

.submitParamLoraIp {
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* Media Query für Smartphones */
@media (max-width: 768px) {

    h2 {
        font-size: medium;
    }

    input[type="button"] {
        display: inline-block;
        background: #007bff;
        color: white;
        /*padding: 5px 10px;*/
        border-radius: 5px;
        cursor: pointer;
    }
}