body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: var(--config-generally-bg-color-body);
    color: var(--config-generally-text-color-body);
}

.successHint {
    background-color: var(--config-generally-bg-color-success);
    color: var(--config-generally-text-color-success);
    font-weight: bold;
}

.failureHint {
    background-color: var(--config-generally-bg-color-failure);
    color: var(--config-generally-text-color-failure);
    font-weight: bold;
}

.warningHint {
    display: inline-block; /* Element bleibt „inline“, kann aber Padding/Margin annehmen */
    max-width: 100%;       /* optional, falls du Zeilenumbruch bei sehr langen Texten willst */
    background-color: crimson; /* Beispiel, sichtbar machen */
    padding: 2px 4px;      /* optional, Abstand zum Text */
    border-radius: 3px;    /* optional, rundes Eck */
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    max-width: 600px;
}

td {
    padding: 4px;
    vertical-align: middle;
}

input[type="text"] {
    width: 100%;
    max-width: 140px;
    padding: 5px;
}

input[type="checkbox"] {
    transform: scale(1.2);
}

.failureHint {
    display: block;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.btnSaveConfigGenerally {
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    background-color: var(--config-generally-bg-color-btn);
    color: var(--config-generally-text-color-btn);
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

select {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 600px) {

    select {
        font-size: 1em;
    }

    table {
        width: 98%;
    }

    .successHint, .failureHint {
        display: block;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
    }

    table {
        font-size: 14px;
    }

    td:first-child {
        white-space: nowrap;
    }


    input[type="text"], input[type="checkbox"] {
        /*width: 100%;*/
    }

    input[type="button"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    .ui-dialog {
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    .ui-dialog .ui-dialog-content {
        overflow-x: auto;
    }
}

/* Media Query für Smartphones */
@media (max-width: 768px) {

    h2 {
        font-size: medium;
    }

    input[type="button"] {
        display: inline-block;
        background: var(--config-generally-bg-color-btn);
        color: var(--config-generally-text-color-btn);
        /*padding: 5px 10px;*/
        border-radius: 5px;
        cursor: pointer;
    }

    .ui-dialog {
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    .ui-dialog .ui-dialog-content {
        overflow-x: auto;
    }
}