:root {
    /* =======================================
       Modul: bottom.php
       ======================================= */
    --bottom-bg-color-body: #121212;
    --bottom-text-color-body: #e0e0e0;
    --bottom-bg-color-input: #333333;
    --bottom-text-color-input: #ffffff;

    --bottom-bg-color-error: crimson;
    --bottom-text-color-error: white;

    --bottom-bg-color-icon-active: rgba(255, 255, 255, 0.2);
    --bottom-img-icon-active: yellow;

    /* =======================================
       Modul: index.php
       ======================================= */
    /* Success / Failure Hints */
    --index-bg-color-successHint: darkgreen;
    --index-text-color-successHint: whitesmoke;

    --index-bg-color-failureHint: darkred;
    --index-text-color-failureHint: whitesmoke;

    /* Topbar */
    --index-bg-color-top: #121212;
    --index-text-color-top: #e0e0e0;
    --index-text-color-topRight: #e0e0e0;

    /* Message Frame */
    --index-bg-color-messageFrame: #1c1c1c;

    /* Placeholders */
    --index-text-color-placeHolder: #a0a0a0;
    --index-text-color-placeHolderSearch: #a0a0a0;

    /* Menu */
    --index-text-color-menuBorder: #555;
    --index-bg-color-menu: #1a1a1a;
    --index-border-color-menuLiBorderBottom: #333;
    --index-bg-color-menuLiHover: #333333;

    /* Top Tabs */
    --index-bg-color-topTabs: #121212;
    --index-bg-color-topTabsTab: #2c2c2c;
    --index-border-color-topTabsTab: #aaa;
    --index-text-color-topTabsTab: aliceblue;

    --index-bg-color-topTabsTabActive: #4CAF50;
    --index-text-color-topTabsTabActive: #fff;
    --index-border-color-topTabsTabActive: #4CAF50;

    /* New message indicator */
    --index-text-color-newMessageIndicator: red;

    /* =======================================
       Modul: mheard.php
       ======================================= */
    /* Body */
    --mheard-bg-color-body: #1c1c1c;
    --mheard-text-color-body: whitesmoke;

    --mheard-border-color-tableThTd: #1c1c1c;
    --mheard-bg-color-table: #000000;

    --mheard-text-color-html: whitesmoke;

    --mheard-bg-color-btn: #0056b3;
    --mheard-text-color-btn: whitesmoke;

    --mheard-bg-color-success: darkgreen;
    --mheard-text-color-success: whitesmoke;

    --mheard-bg-color-failure: crimson;
    --mheard-text-color-failure: whitesmoke;

    /* =======================================
       Modul: config_generally.php
       ======================================= */
    /* Body */
    --config-generally-bg-color-body: #1c1c1c;
    --config-generally-text-color-body: whitesmoke;

    --config-generally-bg-color-success: darkgreen;
    --config-generally-text-color-success: whitesmoke;

    --config-generally-bg-color-failure: crimson;
    --config-generally-text-color-failure: whitesmoke;

    --config-generally-bg-color-btn: #0056b3;
    --config-generally-text-color-btn: whitesmoke;

    /* =======================================
       Modul: config_send_queue.php
       ======================================= */
    --config-send-queue-bg-color-body: #1c1c1c;
    --config-send-queue-text-color-body: whitesmoke;

    --config-send-queue-bg-color-success: darkgreen;
    --config-send-queue-border-color-success: whitesmoke;

    --config-send-queue-bg-color-failure: crimson;
    --config-send-queue-border-color-failure: whitesmoke;

    --config-send-queue-bg-color-btn: #0056b3;
    --config-send-queue-text-color-btn: whitesmoke;

    /* =======================================
       Modul: config_alerting.php
       ======================================= */
    --config-alerting-bg-color-body: #1c1c1c;
    --config-alerting-text-color-body: whitesmoke;

    --config-alerting-bg-color-success: darkgreen;
    --config-alerting-text-color-success: whitesmoke;

    --config-alerting-bg-color-failure: crimson;
    --config-alerting-text-color-failure: whitesmoke;

    --config-alerting-bg-color-btn: #0056b3;
    --config-alerting-text-color-btn: whitesmoke;

    --config-alerting-bg-color-table: cadetblue;
    --config-alerting-text-color-table: whitesmoke;
    --config-alerting-border-color-table: #ddd;
    --config-alerting-border-color-tableScroll: #1c1c1c;

    --config-alerting-bg-color-tableChild: darkslategray;
    --config-alerting-bg-color-tableTrHover: #555;

    /* =======================================
       Modul: config_keyword.php
       ======================================= */
    --config-keyword-bg-color-body: #1c1c1c;
    --config-keyword-text-color-body: whitesmoke;

    --config-keyword-bg-color-success: darkgreen;
    --config-keyword-text-color-success: whitesmoke;

    --config-keyword-bg-color-failure: crimson;
    --config-keyword-text-color-failure: whitesmoke;

    --config-keyword-bg-color-btn: #0056b3;
    --config-keyword-text-color-btn: whitesmoke;

    --config-keyword-border-color-tableScroll: #1c1c1c;
    --config-keyword-border-color-table: #ddd;
    --config-keyword-bg-color-tableChild: darkslategray;
    --config-keyword-bg-color-tableTrHover: #555;

    --config-keyword-bg-color-table: cadetblue;
    --config-keyword-text-color-table: whitesmoke;

    /* =======================================
       Modul: config_update.php
       ======================================= */
    --config-update-bg-color-body: #1c1c1c;
    --config-update-text-color-body: whitesmoke;

    --config-update-bg-color-success: darkgreen;
    --config-update-text-color-success: whitesmoke;

    --config-update-bg-color-failure: crimson;
    --config-update-text-color-failure: whitesmoke;

    --config-update-bg-color-btn: #0056b3;
    --config-update-text-color-btn: whitesmoke;

    --config-update-border-color-tableScroll: #1c1c1c;
    --config-update-border-color-table: #ddd;
    --config-update-bg-color-tableChild: darkslategray;
    --config-update-bg-color-tableTrHover: #555;

    --config-update-bg-color-table: cadetblue;
    --config-update-text-color-table: whitesmoke;

    /* =======================================
       Modul: config_restore.php
       ======================================= */
    --config-restore-bg-color-body: #1c1c1c;
    --config-restore-text-color-body: whitesmoke;

    --config-restore-bg-color-success: darkgreen;
    --config-restore-text-color-success: whitesmoke;

    --config-restore-bg-color-failure: crimson;
    --config-restore-text-color-failure: whitesmoke;

    --config-restore-bg-color-btn: #0056b3;
    --config-restore-text-color-btn: whitesmoke;

    --config-restore-border-color-tableScroll: #1c1c1c;
    --config-restore-border-color-table: #ddd;
    --config-restore-bg-color-tableChild: darkslategray;
    --config-restore-bg-color-tableTrHover: #555;

    --config-restore-bg-color-table: cadetblue;
    --config-restore-text-color-table: whitesmoke;

    /* =======================================
      Modul: lora_info.php
      ======================================= */
    --lora-info-bg-color-body: #1c1c1c;
    --lora-info-text-color-body: whitesmoke;

    --lora-info-bg-color-success: darkgreen;
    --lora-info-text-color-success: whitesmoke;

    --lora-info-bg-color-failure: crimson;
    --lora-info-text-color-failure: whitesmoke;

    --lora-info-bg-color-btn: #0056b3;
    --lora-info-text-color-btn: whitesmoke;

    --lora-info-border-color-tableTd: #555;
    --lora-info-text-color-tableTd: whitesmoke;
    --lora-info-bg-color-tableTh: #1c1c1c;
    --lora-info-bg-color-tableChild: darkslategray;
    --lora-info-bg-color-tableTrHover: #555;

    /* =======================================
      Modul: config_ping_lora.php
      ======================================= */
    --config-ping-lora-bg-color-body: #1c1c1c;
    --config-ping-lora-text-color-body: whitesmoke;

    --config-ping-lora-bg-color-btn: #0056b3;
    --config-ping-lora-text-color-btn: whitesmoke;

    /* =======================================
      Modul: debug:_info.php
      ======================================= */
    --debug-info-bg-color-body: #1c1c1c;
    --debug-info-text-color-body: whitesmoke;

    --debug-info-bg-color-btn: #0056b3;
    --debug-info-text-color-btn: whitesmoke;

    --debug-info-bg-color-success: darkgreen;
    --debug-info-text-color-success: whitesmoke;

    --debug-info-bg-color-failure: crimson;
    --debug-info-text-color-failure: whitesmoke;

    --debug-info-border-color-tableScroll: #1c1c1c;
    --debug-info-border-color-table: whitesmoke;
    --debug-info-bg-color-tableChild: darkslategray;
    --debug-info-bg-color-tableTrHover: #555;

    --debug-info-bg-color-table: cadetblue;
    --debug-info-text-color-table: whitesmoke;

    --debug-info-text-color-log-today: chartreuse;
    --debug-info-text-color-log-log-yesterday: deepskyblue;
    --debug-info-text-color-log-old: orangered;

    /* =======================================
      Modul: grp_definition.php
      ======================================= */
    --grp-definition-bg-color-body: #1c1c1c;
    --grp-definition-text-color-body: whitesmoke;

    --grp-definition-bg-color-success: darkgreen;
    --grp-definition-text-color-success: whitesmoke;

    --grp-definition-bg-color-failure: crimson;
    --grp-definition-text-color-failure: whitesmoke;

    --grp-definition-bg-color-btn: #0056b3;
    --grp-definition-text-color-btn: whitesmoke;

    --grp-definition-border-color-tableScroll: #1c1c1c;
    --grp-definition-border-color-table: #ddd;
    --grp-definition-bg-color-tableChild: darkslategray;
    --grp-definition-bg-color-tableTrHover: #555;

    --grp-definition-bg-color-table: cadetblue;
    --grp-definition-text-color-table: whitesmoke;

    /* =======================================
       Modul: config_beacon.php
       ======================================= */
    --config-beacon-bg-color-body: #1c1c1c;
    --config-beacon-text-color-body:  whitesmoke;

    --config-beacon-bg-color-success: darkgreen;
    --config-beacon-text-color-success: whitesmoke;

    --config-beacon-bg-color-failure: crimson;
    --config-beacon-text-color-failure: whitesmoke;

    --config-beacon-bg-color-btn: #0056b3;
    --config-beacon-text-color-btn: whitesmoke;

    /* =======================================
       Modul: config_data_purge.php
       ======================================= */
    --config-data-purge-bg-color-body: #1c1c1c;
    --config-data-purge-text-color-body:  whitesmoke;

    --config-data-purge-bg-color-success: darkgreen;
    --config-data-purge-text-color-success: whitesmoke;

    --config-data-purge-bg-color-failure: crimson;
    --config-data-purge-text-color-failure: whitesmoke;

    --config-data-purge-bg-color-btn: #0056b3;
    --config-data-purge-text-color-btn: whitesmoke;

    /* =======================================
      Modul: config_data_purge.php
      ======================================= */
    --config-data-purge-auto-bg-color-body: #1c1c1c;
    --config-data-purge-auto-text-color-body:  whitesmoke;

    --config-data-purge-auto-bg-color-success: darkgreen;
    --config-data-purge-auto-text-color-success: whitesmoke;

    --config-data-purge-auto-bg-color-failure: crimson;
    --config-data-purge-auto-text-color-failure: whitesmoke;

    --config-data-purge-auto-bg-color-btn: #0056b3;
    --config-data-purge-auto-text-color-btn: whitesmoke;

    /* =======================================
       Modul: send_command.php
       ======================================= */
    --send-command-bg-color-body: #1c1c1c;
    --send-command-text-color-body:  whitesmoke;

    --send-command-bg-color-success: darkgreen;
    --send-command-text-color-success: whitesmoke;

    --send-command-bg-color-failure: crimson;
    --send-command-text-color-failure: whitesmoke;

    --send-command-bg-color-btn: #0056b3;
    --send-command-text-color-btn: whitesmoke;

    /* =======================================
       Modul: sensor_data.php
       ======================================= */
    --sensor-data-bg-color-body: #1c1c1c;
    --sensor-data-text-color-body:  whitesmoke;

    --sensor-data-bg-color-success: darkgreen;
    --sensor-data-text-color-success: whitesmoke;

    --sensor-data-bg-color-failure: crimson;
    --sensor-data-text-color-failure: whitesmoke;

    --sensor-data-bg-color-btn: #0056b3;
    --sensor-data-text-color-btn: whitesmoke;

    --sensor-data-color-tableThTd: #1c1c1c;
    --sensor-data-bg-color-table: #000000;
    --sensor-data-text-color-html: whitesmoke;
    --sensor-data-text-color-tableTd: whitesmoke;

    /* =======================================
       Modul: sensor_data_threshold.php
       ======================================= */
    --sensor-data-threshold-bg-color-body: #1c1c1c;
    --sensor-data-threshold-text-color-body:  whitesmoke;

    --sensor-data-threshold-bg-color-success: darkgreen;
    --sensor-data-threshold-text-color-success: whitesmoke;

    --sensor-data-threshold-bg-color-failure: crimson;
    --sensor-data-threshold-text-color-failure: whitesmoke;

    --sensor-data-threshold-bg-color-btn: #0056b3;
    --sensor-data-threshold-text-color-btn: whitesmoke;

    /* =======================================
       Modul: gps_info.php
       ======================================= */
    --gps-info-bg-color-body: #1c1c1c;
    --gps-info-text-color-body: whitesmoke;

    --gps-info-bg-color-success: darkgreen;
    --gps-info-text-color-success: whitesmoke;

    --gps-info-bg-color-failure: crimson;
    --gps-info-text-color-failure: whitesmoke;

    --gps-info-bg-color-btn: #0056b3;
    --gps-info-text-color-btn: whitesmoke;

    --gps-info-border-color-tableTd: #555;
    --gps-info-text-color-tableTd: whitesmoke;
    --gps-info-bg-color-tableTh: #1c1c1c;
    --gps-info-bg-color-tableChild: darkslategray;
    --gps-info-bg-color-tableTrHover: #555;

    /* =======================================
       Modul: translation_editor.php
       ======================================= */
    --translation-editor-bg-color-body: #1c1c1c;
    --translation-editor-text-color-body: whitesmoke;

    --translation-editor-bg-color-tableThTrTd: #1c1c1c;
    --translation-editor-text-color-tableThTrTd: whitesmoke;

    --translation-editor-bg-color-inputText: darkgrey;
    --translation-editor-text-color-inputText: black;

    /* =======================================
      Modul: message.php
      ======================================= */
    --message-bg-color-body: #1c1c1c;

    --message-bg-color-success: darkgreen;
    --message-text-color-success: whitesmoke;

    --message-bg-color-failure: crimson;
    --message-text-color-failure: whitesmoke;

    --message-bg-color-btn: #0056b3;
    --message-text-color-btn: whitesmoke;

    --message-bg-color-btnTop: #0056b3;
    --message-text-color-btnTop: whitesmoke;

    --message-bg-color-msgIncoming: lightsteelblue; /* Hintergrund vom src Call */
    --message-bg-color-msgOutgoing: #666f7a;   /* Hintergrund vom src Call lightslategray*/

    --message-bg-color-msgBubbleIncoming: #3a3a3a;
    --message-text-color-msgBubbleIncoming: #e0e0e0;
    --message-text-color-msgBubbleIncomingPath: #999999;

    --message-bg-color-msgBubbleOutgoing: #555555;     /* etwas heller als Incoming */
    --message-text-color-msgBubbleoutgoing: #f5f5f5;   /* sehr hell, gute Lesbarkeit */
    --message-text-color-msgBubbleoutgoingPath: #aaaaaa; /* feiner Kontrast zum Text */

    --message-text-color-msgBubbleClickOnCall: color-mix;
}