body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: var(--debug-info-bg-color-body);
    color: var(--debug-info-text-color-body);
}

.successHint {
    background-color: var(--debug-info-bg-color-success);
    color: var(--debug-info-text-color-success);
    font-weight: bold;
}

.failureHint {
    background-color: var(--debug-info-bg-color-failure);
    color: var(--debug-info-text-color-failure);
    font-weight: bold;
}

table {
    width: auto;
    border-collapse: collapse;
}

td {
    padding: 4px;
    vertical-align: middle;
}

input[type="text"] {
    width: 100%;
    max-width: 90px;
    padding: 5px;
}

input[type="checkbox"] {
    transform: scale(1.2);
}

.failureHint {
    /*display: block;*/
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.btnSaveDebugInfo {
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    background-color: var(--debug-info-bg-color-btn);
    color: var(--debug-info-text-color-btn);
    cursor: pointer;
    border-radius: 5px;
    /*width: 100%;*/
}

.purgeBlockRelease {
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    background-color: var(--debug-info-bg-color-btn);
    color: var(--debug-info-text-color-btn);
    cursor: pointer;
    border-radius: 5px;
    /*width: 100%;*/
}

.cronStatusPoint {
    /*margin-top: 7px;*/
    /*cursor: pointer;*/
    width: 20px;
}

/* backup Tabelle */
.scrollable-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid var(--debug-info-border-color-tableScroll);
    margin-bottom: 20px;
    width: 496px;  /* Container-Breite anpassen */

    -ms-overflow-style: none;  /* Für IE und Edge */
    scrollbar-width: none;     /* Für Firefox */
}

.scrollable-container::-webkit-scrollbar {
    display: none;             /* Für Chrome, Safari, Opera */
}

table.logTable {
    border-collapse: collapse;
    width: 30%;
}
table.logTable th, table.logTable td {
    border: 1px solid var(--debug-info-border-color-table);
    padding: 8px;
}
table.logTable tr:nth-child(even) {background-color: var(--debug-info-bg-color-tableChild);}
table.logTable tr:hover {background-color: var(--debug-info-bg-color-tableTrHover);}
table.logTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--debug-info-bg-color-table);
    color: var(--debug-info-text-color-table);
}

.imageDownload {
    width: 25px;
}

.imageDelete {
    width: 25px;
    cursor: pointer;
}

.log-today {
    color: var(--debug-info-text-color-log-today); /* hellgrün */
}
.log-yesterday {
    color: var(--debug-info-text-color-log-log-yesterday); /* hellgelb */
}
.log-old {
    color: var(--debug-info-text-color-log-old); /* hellgrau */
}

/* ================================
   Scoped Table Style: md-table
   ================================ */

table.writeMutex-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 1.4;
}

/* Kopfzeile */
table.writeMutex-table thead th {
    text-align: left;
    font-weight: 600;
    padding: 8px 10px;
    border-bottom: 2px solid var(--debug-info-table-write-mutex-thead-th-border-bottom);
    background-color: var(--debug-info-table-write-mutex-thead-th-background-color);
}

/* Zellen */
table.writeMutex-table tbody td {
    padding: 7px 10px;
    border-bottom: 1px solid var(--debug-info-table-write-mutex-tbody-td-border-bottom);
    vertical-align: top;
}

/* Zebra */
table.writeMutex-table tbody tr:nth-child(even) {
    background-color: var(--debug-info-table-write-mutex-tbody-tr-child);
}

/* Hover */
table.writeMutex-table tbody tr:hover {
    background-color: var(--debug-info-table-write-mutex-tbody-tr-hover) ;
}

.process-indicator {
    cursor: pointer;        /* Maus wird zur Hand */
    width: 20px;            /* Breite des Icons */
    height: 20px;           /* Höhe des Icons */
    display: inline-block;  /* damit es sich wie ein Icon verhält */
    object-fit: contain;    /* skaliert das Bild, ohne es zu verzerren */
}
.menu-icon,
.process-indicator {
    vertical-align: middle; /* zentriert entlang der Textlinie */
}

@media (max-width: 600px) {

    td {
        font-size: smaller;
    }

    table.logTable {
        font-size: smaller;
    }

    table.logTable th,
    table.logTable td{
        padding: 2px;
    }

    .imageDownload, .imageDelete{
        width: 15px;
        margin: 0 5px; /* Links & Rechts 5px Abstand */
    }

    .successHint, .failureHint {
        display: block;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
    }

    table {
        font-size: 14px;
    }

    td:first-child {
        white-space: nowrap;
    }

    input[type="text"], input[type="checkbox"] {
        width: 100%;
    }

    input[type="button"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    .ui-dialog {
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    .ui-dialog .ui-dialog-content {
        overflow-x: auto;
    }
}

/* Media Query für Smartphones */
@media (max-width: 768px) {

    h2 {
        font-size: medium;
    }

    input[type="button"] {
        display: inline-block;
        background-color: var(--debug-info-bg-color-btn);
        color: var(--debug-info-text-color-btn);
        /*padding: 5px 10px;*/
        border-radius: 5px;
        cursor: pointer;
    }
}