body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    overscroll-behavior-y: contain;
    flex-direction: column;
    height: 100vh; /* Vollbildhöhe */
}


/* Top Section */
.top {
    background-color: #2e9afe;
    position: relative;
}

.topText {
    color: white;
    text-align: center;
}

.topLeft {
    position: absolute;
    left: 60px;
}

.topImagePoint {
    margin-top: 4px;
    cursor: pointer;
    width: 30px;
}

/* Neues Styling für die Uhrzeit */
.topRight {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.topImagePoint {
    margin-top: 4px;
    cursor: pointer;
    width: 30px;
}


/*  Bottom Frame            */
.bottom {
    background-color: black;
    width: 100%;
    margin-top: 100px; /* Platz für den fixierten oberen Bereich */
    height: calc(100vh - 100px); /* Restliche Höhe nach dem fixierten Bereich */
    overflow-y: scroll; /* Ermöglicht das Scrollen im unteren Bereich */
    padding: 20px;
    box-sizing: border-box;
}

/*  Frame Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe {
    border: none;
    font-family: Arial, sans-serif;
}

#message-frame {
    flex: 1; /* Flexibles mittleres Element */
    overflow-y: auto; /* Scrollbar aktivieren */

    margin: 0;
    background-color: #E6E6E6;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#bottom-frame {
    height: 110px;
    overscroll-behavior-y: contain;
    flex: 0 0 90px; /* Feste Höhe für den Footer */
    font-family: Arial, sans-serif;
}



.unsetDisplayFlex {
    display: unset;
}

.inputParamLoraIp {
    box-sizing: border-box;
    padding: 4px;
    outline: none;
}

.submitParamLoraIp {
    box-sizing: border-box;
    padding: 4px;
    outline: none;
}

::placeholder {
    color:navy;
    opacity:1;
    transition: opacity 1s;
    font-weight: bold;
}

/********* Menuesteuerung  */

.topMenu {
    position: absolute;
    margin-left: 10px;
}

#menu-icon {
    font-size: 30px;
    cursor: pointer;
    /*top:16px;*/
}

#menu {
    display: none;
    position: absolute; /* Overlay-Effekt */
    top: 70px;   /* Abstand von oben */
    left: 10px;  /* Abstand von links */
    background-color: #2e9afe;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    min-width: 150px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    font-size: 16px; /* Schriftgröße hautmenu */
    position: relative; /* Wichtige Positionierung für Submenu */
}

#menu li:hover {
    background-color: lightblue;
}

/* Submenu wird jetzt seitlich rechts angezeigt */
.submenu {
    display: none;
    background-color: #333; /* Für das Submenü eine dunklere Farbe */
    position: absolute;
    left: 100%; /* Verschiebt das Submenü nach links, sodass es rechts vom Hauptmenü erscheint */
    top: 0; /* Submenü erscheint oben am jeweiligen li-Element */
    min-width: 150px; /* Mindestbreite des Submenüs */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

/* Wenn das Submenü angezeigt wird */
#menu li.active > .submenu {
    display: block;
    left: 100%; /* Zielposition links an das übergeordnete li */
}

/*    Top Tabs */
#top-tabs {
    text-align: center;
    background-color: #2e9afe;
}

#top-tabs .tab {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

#top-tabs .tab.active {
    background-color: #4CAF50;
    color: #fff;
    border-color: #4CAF50;
}

