body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.setFontMsgHeader {
    font-family: Arial, sans-serif;
    color:#6E6E6E;
}

.setFontMsg {
    color: black;
    font-family: Arial, sans-serif;
}

.successHint {
    background-color: darkgreen;
    color: whitesmoke;
}

.failureHint {
    background-color: crimson;
    color: whitesmoke;
}

.imageAck {
    width: 20px;  /* Größe anpassen */
    height: auto; /* Seitenverhältnis beibehalten */
    vertical-align: middle; /* Vertikale Ausrichtung im Text */
    margin-left: 5px; /* Abstand zum Text */
}

.imageMheard {
    width: 20px;  /* Größe anpassen */
    height: auto; /* Seitenverhältnis beibehalten */
    vertical-align: middle; /* Vertikale Ausrichtung im Text */
    margin-left: 5px; /* Abstand zum Text */
    margin-bottom: 2px;
}
