body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--message-bg-color-body);
}

.setFontMsgHeader {
    font-family: Arial, Helvetica, sans-serif;
    color:#6E6E6E;
}

.setFontMsg {
    color: var(--message-text-color-font-msg);
    font-family: Arial, Helvetica, sans-serif;
}

.successHint {
    background-color: var(--message-bg-color-success);
    color: var(--message-text-color-success);
    font-weight: bold;
}

.failureHint {
    background-color: var(--message-bg-color-failure);
    color: var(--message-text-color-failure) !important;
    font-weight: bold;
}

.imageAck {
    width: 20px;  /* Größe anpassen */
    height: auto; /* Seitenverhältnis beibehalten */
    vertical-align: middle; /* Vertikale Ausrichtung im Text */
    margin-left: 5px; /* Abstand zum Text */
}

.imageMheard {
    width: 20px;  /* Größe anpassen */
    height: auto; /* Seitenverhältnis beibehalten */
    vertical-align: middle; /* Vertikale Ausrichtung im Text */
    margin-left: 5px; /* Abstand zum Text */
    margin-bottom: 2px;
}

.imageCallNotice {
    width: 20px;  /* Größe anpassen */
    height: auto; /* Seitenverhältnis beibehalten */
    vertical-align: middle; /* Vertikale Ausrichtung im Text */
    margin-left: 5px; /* Abstand zum Text */
    margin-bottom: 4px;
}

.searchInfo {
    font-size: 16px;
    font-weight: bold;
}

.btnPagePagination
{
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    background-color: var(--message-bg-color-btn);
    color: var(--message-text-color-btn);
    cursor: pointer;
    border-radius: 5px;
}

/* info container*/

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: monospace; /* Optional für gleichmäßige Abstände */
    font-size: 14px;
}

.info-row {
    display: flex;
    justify-content: flex-start;
}

.info-label {
    min-width: 150px; /* Breite der linken Spalte anpassen */
    text-align: right;
    padding-right: 10px; /* Abstand zum Wert */
    font-weight: bold;
}

.info-value {
    text-align: left;
}

.fromToSquareIncoming {
    background-color: var(--message-bg-color-msgIncoming);
    color: var(--message-text-color-msgIncoming);
}

.fromToSquareIncoming a {
    text-decoration: none !important;
}

.fromToSquareOutgoing {
    background-color: var(--message-bg-color-msgOutgoing);
    color: var(--message-text-color-msgOutgoing);
}

.fromToSquareOutgoing a {
    text-decoration: none !important;
}

/*  BUBBLES */
.chat-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message-row {
    display: flex;
    margin-bottom: 10px;
}

.message-row.incoming {
    justify-content: flex-start;
}

.message-row.outgoing {
    justify-content: flex-start;
    margin-left: 50px;
}

.message-bubble {
    position: relative;
    max-width: 40%;
    min-width: 30%;
    /*padding: 10px 15px;*/
    padding: 0 15px;
    border-radius: 15px;
    background-color: var(--message-bg-color-msgBubbleIncoming);
    color: var(--message-text-color-msgBubbleIncoming);
    word-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;
}

.message-row.outgoing .message-bubble {
    background-color: var(--message-bg-color-msgBubbleOutgoing);
}

.message-bubble::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
}

.message-row.incoming .message-bubble::after {
    left: -20px;
    border-right-color: var(--message-bg-color-msgBubbleIncoming);
}

.message-row.outgoing .message-bubble::after {
    right: -20px;
    border-left-color: var(--message-bg-color-msgBubbleOutgoing);
}

.bubbleFontMsgHeaderIncoming {
    font-size: 18px;
    color: var(--message-text-color-msgBubbleIncomingPath) !important;
}

.bubbleFontMsgHeaderOutgoing {
    font-size: 18px;
    color: var(--message-text-color-msgBubbleOutgoingPath) !important;
}

.bubbleFontMsgOutgoing {
    color: var(--message-text-color-msgBubbleOutgoing);
}

.bubbleFontMsgIncoming {

}

.bubbleMsgClickToCall {
    cursor: pointer;
    color: var(--message-text-color-msgBubbleClickOnCall);
}

a:link{
    color: var(--message-text-color-msgBubbleClickOnCall);
}

a.auto-link {
    color: var(--message-text-color-msgBubbleClickOnLink);
    text-decoration: underline;
}

a.auto-link:visited {
    color: var(--message-text-color-msgBubbleClickOnLinkVisit);
}

/* Scroll To Top*/
#scrollTopBtn2
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--message-bg-color-btnTop);
    color: var(--message-text-color-btnTop);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    display: none; /* versteckt initial */
    z-index: 9999;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease;
}

/* Picture only */
#scrollTopBtn
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent; /* kein Hintergrund */
    border: none;                  /* keine Umrandung */
    padding: 0;                   /* kein Innenabstand */
    cursor: pointer;
    display: none;                /* versteckt initial */
    z-index: 9999;
    box-shadow: none;             /* kein Schatten */
    transition: opacity 0.3s ease;
}

.pictureScrollToTop {
    max-width: 36px;
}

#scrollTopBtn.show
{
    display: block;
    opacity: 1;
}


/* Media Query für Smartphones */
@media (max-width: 768px) {

    .message-bubble {
        max-width: 85%;
        min-width: 30%;
    }

    .info-container {
     font-size: 13px;
    }

    .setFontMsgHeader {
      font-size: smaller;
    }

    .setFontMsg {
     font-size: smaller;
    }

    input[type="button"] {
        display: inline-block;
        background-color: var(--message-bg-color-btn);
        color: var(--message-text-color-btn);
        /*padding: 5px 10px;*/
        border-radius: 5px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .ui-dialog {
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    .ui-dialog .ui-dialog-content {
        overflow-x: auto;
    }
}