body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: var(--send-command-bg-color-body);
    color: var(--send-command-text-color-body);
}

.successHint {
    background-color: var(--send-command-bg-color-success);
    color: var(--send-command-text-color-success);
    font-weight: bold;
}

.failureHint {
    background-color: var(--send-command-bg-color-failure);
    color: var(--send-command-text-color-failure);
    font-weight: bold;
    display: block;
}

.infoImagePoint {
    margin-right: 10px;
    margin-bottom: -10px;
    cursor: pointer;
    width: 30px;
}

td {
    padding: 4px;
    vertical-align: middle;
}

input[type="checkbox"] {
    transform: scale(1.2);
}

.successHint, .failureHint {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.indented  {
    padding-left: 13px;
    display: block; /* Wichtig f端r den Umbruch */
}

.btnSendCommand {
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    background-color: var(--send-command-bg-color-btn);
    color: var(--send-command-text-color-btn);
    cursor: pointer;
    border-radius: 5px;
}

td input[type="text"] {
    box-sizing: border-box;      /* sorgt daf端r, dass padding/border eingerechnet werden */
    width: 100%;                 /* nutzt gesamte Zellbreite */
    max-width: 100%;             /* 端berschreitet nicht die TD-Breite */
    display: block;              /* verhindert inline spacing */
}

@media (max-width: 600px) {

    .indented  {
        padding-left: 13px;
        display: block; /* Wichtig f端r den Umbruch */
    }

    td:has(#infoImagePoint) {
        display: flex;
        align-items: center;
    }

    .infoImagePoint {
        margin-right: 10px;
        width: 30px;
        cursor: pointer;
        margin-bottom: 0;
    }

    .successHint, .failureHint {
        display: block;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
    }

    table {
        font-size: 14px;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    .tdMin {
        width: 90px !important;
    }

    .tdMaxDesc {
        width: -webkit-fill-available;
    }

    .tdMaxCmd {
        width: -webkit-fill-available;
    }

    td:first-child {
        white-space: nowrap;
    }

    input[type="text"] {
        max-width: 95%; /* Oder andere passende Breite */
    }

    input[type="button"] {
        width: 100%;
        padding: 10px;
        font-size: smaller;
    }

    h2 {
        font-size: medium;
    }

    input[type="button"] {
        display: inline-block;
        background-color: var(--send-command-bg-color-btn);
        color: var(--send-command-text-color-btn);
        /*padding: 5px 10px;*/
        border-radius: 5px;
        cursor: pointer;
    }

    .ui-dialog {
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    .ui-dialog .ui-dialog-content {
        overflow-x: auto;
    }
}