body {
    font-family: Arial, Helvetica, sans-serif;
}



.table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}
.table {
    background-color: #FCEDF0;
    width: max(25%, min(801px, 100%));
    margin-bottom: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #a2182f;
    text-align: left;
}

.thCenter {
    text-align: center;
}

.lineBreak {
    display: block;
}

.successHint {
    background-color: darkgreen;
    color: whitesmoke;
    font-weight: bold;
}

.failureHint {
    background-color: crimson;
    color: whitesmoke;
    font-weight: bold;
}

.btnGetSensorData {
    font-size: 14px;
    padding: 8px 15px;
    border: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {

    .tableBtn {
        width: 100%;  /* Nutzt die komplette Breite */
    }

    td {
        padding: 2px 1px 2px 1px;
    }

    h2 {
        font-size: medium !important;
    }

    .table {
        width: max-content;
    }

    .table {
        width: 100%;  /* Nutzt die komplette Breite */
        table-layout: auto;
        max-width: 100%;  /* Verhindert, dass sie größer als der Bildschirm wird */
    }

    .table th, .table td {
        white-space: normal;  /* Zeilenumbruch erlauben */
        word-wrap: break-word;
        text-align: center;
    }


    input[type="button"] {
        width: 100% !important;
        display: inline-block;
        background: #0056b3;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .ui-dialog {
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    .ui-dialog .ui-dialog-content {
        overflow-x: auto;
    }
}
