body {
    font-family: sans-serif;
    margin: 20px;
    background-color: var(--translation-editor-bg-color-body);
    color: var(--translation-editor-text-color-body);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0px;
}

th, tr, td {
    background: var(--translation-editor-bg-color-tableThTrTd);
    color: var(--translation-editor-text-color-tableThTrTd);
}

input[type="text"] {
    background-color: var(--translation-editor-bg-color-inputText);
    color: var(--translation-editor-text-color-inputText);
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
}